openapi: 3.0.1
info:
  title: Entity Sport Cricket API V2 Authentication Competitions API
  description: Token-authenticated REST API for cricket data from Entity Sport (Entity Digital Sports). Covers competitions and seasons, fixtures, results, live ball-by-ball scoring, scorecards, fantasy points, squads, player and team profiles, standings, and betting odds. Clients obtain a short-lived access token by POSTing access_key and secret_key to /auth, then pass the token as the `token` query parameter on every request.
  termsOfService: https://www.entitysport.com/terms-conditions/
  contact:
    name: Entity Sport Support
    email: sales@entitysport.com
    url: https://www.doc.entitysport.com/cricket-api-v2
  version: '2.0'
servers:
- url: https://restapi.entitysport.com/v2
  description: Entity Sport Cricket API V2 production server
security:
- accessToken: []
tags:
- name: Competitions
  description: Competitions, seasons, and standings.
paths:
  /seasons:
    get:
      operationId: listSeasons
      tags:
      - Competitions
      summary: List seasons.
      description: Returns available seasons identified by sid.
      parameters:
      - $ref: '#/components/parameters/token'
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/paged'
      responses:
        '200':
          description: A list of seasons.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /competitions:
    get:
      operationId: listCompetitions
      tags:
      - Competitions
      summary: List competitions.
      description: Returns cricket competitions (tournaments, tours, cups) identified by cid.
      parameters:
      - $ref: '#/components/parameters/token'
      - name: status
        in: query
        description: Filter by competition status (e.g. live, fixture, result).
        schema:
          type: string
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/paged'
      responses:
        '200':
          description: A list of competitions.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /competitions/{cid}:
    get:
      operationId: getCompetition
      tags:
      - Competitions
      summary: Get a competition.
      description: Returns details for a single competition by cid.
      parameters:
      - $ref: '#/components/parameters/cid'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Competition detail.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /competitions/{cid}/matches:
    get:
      operationId: listCompetitionMatches
      tags:
      - Competitions
      summary: List matches for a competition.
      parameters:
      - $ref: '#/components/parameters/cid'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Matches within the competition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /competitions/{cid}/standings:
    get:
      operationId: getCompetitionStandings
      tags:
      - Competitions
      summary: Get standings for a competition.
      description: Returns the points table / standings for a competition by cid.
      parameters:
      - $ref: '#/components/parameters/cid'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Competition standings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  parameters:
    perPage:
      name: per_page
      in: query
      required: false
      description: Number of items per page.
      schema:
        type: integer
    cid:
      name: cid
      in: path
      required: true
      description: Competition identifier.
      schema:
        type: integer
    token:
      name: token
      in: query
      required: true
      description: Short-lived access token from POST /auth.
      schema:
        type: string
    paged:
      name: paged
      in: query
      required: false
      description: Page number for paginated results.
      schema:
        type: integer
  schemas:
    ApiResponse:
      type: object
      description: Standard Entity Sport response envelope.
      properties:
        status:
          type: string
          description: Response status (e.g. ok).
          example: ok
        response:
          type: object
          description: Endpoint-specific payload.
      additionalProperties: true
  securitySchemes:
    accessToken:
      type: apiKey
      in: query
      name: token
      description: Short-lived access token obtained from POST /auth, passed as the `token` query parameter on every request.
