openapi: 3.0.1
info:
  title: Entity Sport Cricket API V2 Authentication Matches API
  description: Token-authenticated REST API for cricket data from Entity Sport (Entity Digital Sports). Covers competitions and seasons, fixtures, results, live ball-by-ball scoring, scorecards, fantasy points, squads, player and team profiles, standings, and betting odds. Clients obtain a short-lived access token by POSTing access_key and secret_key to /auth, then pass the token as the `token` query parameter on every request.
  termsOfService: https://www.entitysport.com/terms-conditions/
  contact:
    name: Entity Sport Support
    email: sales@entitysport.com
    url: https://www.doc.entitysport.com/cricket-api-v2
  version: '2.0'
servers:
- url: https://restapi.entitysport.com/v2
  description: Entity Sport Cricket API V2 production server
security:
- accessToken: []
tags:
- name: Matches
  description: Match listing, info, and live scoring.
paths:
  /matches:
    get:
      operationId: listMatches
      tags:
      - Matches
      summary: List matches.
      description: Returns fixtures, live, and completed matches identified by mid.
      parameters:
      - $ref: '#/components/parameters/token'
      - name: status
        in: query
        description: Filter by match status (e.g. 1 fixture, 2 completed, 3 live).
        schema:
          type: integer
      - $ref: '#/components/parameters/perPage'
      - $ref: '#/components/parameters/paged'
      responses:
        '200':
          description: A list of matches.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /matches/{mid}/info:
    get:
      operationId: getMatchInfo
      tags:
      - Matches
      summary: Get match info.
      description: Returns metadata and current state for a single match by mid.
      parameters:
      - $ref: '#/components/parameters/mid'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Match info.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
  /matches/{mid}/live:
    get:
      operationId: getMatchLive
      tags:
      - Matches
      summary: Get live ball-by-ball scoring.
      description: Returns real-time ball-by-ball live scoring for a match by mid.
      parameters:
      - $ref: '#/components/parameters/mid'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Live match data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
components:
  parameters:
    perPage:
      name: per_page
      in: query
      required: false
      description: Number of items per page.
      schema:
        type: integer
    mid:
      name: mid
      in: path
      required: true
      description: Match identifier.
      schema:
        type: integer
    token:
      name: token
      in: query
      required: true
      description: Short-lived access token from POST /auth.
      schema:
        type: string
    paged:
      name: paged
      in: query
      required: false
      description: Page number for paginated results.
      schema:
        type: integer
  schemas:
    ApiResponse:
      type: object
      description: Standard Entity Sport response envelope.
      properties:
        status:
          type: string
          description: Response status (e.g. ok).
          example: ok
        response:
          type: object
          description: Endpoint-specific payload.
      additionalProperties: true
  securitySchemes:
    accessToken:
      type: apiKey
      in: query
      name: token
      description: Short-lived access token obtained from POST /auth, passed as the `token` query parameter on every request.
